<div class="row">
  
  <div class="col-xs-12 actions">
     
    <form class="form-group">
	    
	    <div class="col-xs-6 col-sm-3 col-md-3">
			<label for = "filter-season" style="color:white;"> Select Season </label>
			<select  required class="form-control" id="filter-season" ng-model=" check">
				<option value="" class="text-muted">--Select Season--</option>
				<option value="1st">2015/16</option>
				<option value="2nd">2016/17</option>
			</select>
			<span id="view1Form" class="help-block" style="color:white;">Required*</span>	
 		</div>
 							

 		<div class="col-xs-6 col-sm-3 col-md-3">
 			    <label for="filter-team" style="color:white;"> Enter Team1 </label>
 				<input type="text" name="team" class="form-control" id="filter-team" placeholder="Enter team1 name" ng-model="getTeams.team1.key">
 				<span id="view1Form" class="help-block" style="color:white;" >Eg: Enter as <em>Liverpool</em></span>
 		</div>

 		
 		<div class="col-xs-6 col-sm-3 col-md-3">
 			<label for="filter-team" style="color:white;"> Enter Team2 </label>
 			 	<input type="text" name="team" class="form-control" id="filter-team" placeholder="Enter team2 name" ng-model="getTeams.team2.key">
 				<span id="view1Form" class="help-block" style="color:white;">Eg: Enter as <em>Arsenal</em></span>
 		</div>

 		
 		<div class="col-xs-6 col-sm-3 col-md-3">
 			<label for="filter-date" style="color:white;"> Enter Date </label>
 				<input type="text" name="dat" class="form-control" id= "filter-date" placeholder="Enter match date" ng-model="getDate.date">
 				<span id="view1Form" class="help-block" style="color:white;">Enter as<em>YYYY-mm-dd</em></span>
 		</div>

 	</form>	
   
   </div>

</div> <!-- ROW ENDS -->

							

<div class="actions1"> 
	<table ng-show="check =='1st'" class="table table-responsive table-condensed">
		<caption class="text-center">
	     	<h3 class="trophy">
			<span><i class=" fa fa-trophy fa-3x text-danger"></i>{{ mainCtrl.nameFirst }}<i class="fa fa-trophy fa-3x text-danger"></i> </span>
			</h3>
		</caption>
       <thead>
			<tr>
			  <th>Team1</th>
			  <th>Team2</th>
			  <th>Date</th>
			</tr>
	    </thead>

						 

		<tbody ng-repeat ="items in mainCtrl.rounds1 | filter : getDay" class="for-bgimage" ng-init="matchId1=$index">

			 <tr ng-repeat ="item in items.matches | filter : getDate | filter : getTeams" ng-init="matchId2=$index">
				   
				  <!--  <td>{{ items.name }}</td> -->
				   
				   <td>{{ item.team1.key | uppercase  }}</td>
			       <td>{{ item.team2.key | uppercase }}</td>
				   <td>{{ item.date  }}</td>
			 </tr>

		</tbody>

	</table>
</div>

							

<div class="actions1"> 
	<table ng-show="check =='2nd'" class="table table-responsive table-condensed">
			<caption class="text-center">
				<h3 class="trophy">
				<span><i class=" fa fa-trophy fa-3x text-danger"></i>{{ mainCtrl.nameSecond }}<i class=" fa fa-trophy fa-3x text-danger"></i>
				</span>
				</h3>
			</caption>

			<thead>
				<tr>
				  <th>Team1</th>
				  <th>Team2</th>
				  <th>Date</th>
    			</tr>
			</thead>

			<tbody ng-repeat ="items in mainCtrl.rounds2 | filter : getDay:true" class="for-bgimage" ng-init="matchId1=$index">

				<tr ng-repeat ="item in items.matches | filter : getDate | filter : getTeams" ng-init="matchId2=$index">
							  	
			  		<!-- <td>{{ items.name }}</td> -->
			  		
			  		<td>{{ item.team1.key | uppercase  }}</td>
			  		<td>{{ item.team2.key | uppercase }}</td>
			  		<td>{{ item.date }}</td>
				</tr>
			</tbody>
	</table>
</div>
				
				